/* footer {
 
  margin-bottom: 0;
  position: fixed;
  align-content: center;
  text-align: center;
}
*/

.social-icon {
  list-style: none;
  margin-bottom: 0;
  align-content: center;
  width: 120px;
  justify-content: space-between;
  padding: 5px;
}

.social-icon img {
  display: inline-block;
  align-content: center;
}

body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 80px;
  clear: both;
  padding-top: 20px;
  background-color: #f4f4f4;
  margin-bottom: 0px;
}
